/* Estilos de títulos */
@import url(https://fonts.googleapis.com/css?family=Righteous);

h1 {
    color: #1abc9c;
    font-family: 'Righteous';
    font-size: 4em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
}

h2 {
    font-family: 'Righteous';
}

.container {
    background: #f3f3f3;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    width: 70%;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.container .content .left-side {
    display: flex;
    flex-direction: row;
    position: relative;
}


.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

@media (max-width: 820px) {
    .container {
        height: 100%;
        align-items: center;
        justify-content: center ;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    @media (max-width: 950px) {
        .container {
            width: 90%;
            padding: 30px 40px 40px 35px;
            align-items: center;
            justify-content: center ;
        }
    }
    
}