<h1>Contact me!</h1>


<div class="container">
    <div class="content">
        <div class="left-side">
            <div class="email details">
                <i class="bi bi-envelope-at-fill"></i>
                <div class="topic">Email</div>
                <div class="text-one">lauragonzsuarez@gmail.com</div>
            </div>
            
            <div class="linkedin details">
                <i class="bi bi-linkedin"></i>
                <div class="topic">LinkedIn</div>
                <a href="https://www.linkedin.com/in/laura-gonz%C3%A1lez-su%C3%A1rez-99b55227b">
                    <div class="text-one">Laura González Suárez</div>
                </a>
            </div>
            
            <div class="address details">
                <i class="bi bi-geo-alt-fill"></i>
                <div class="topic">Location</div>
                <div class="text-one">Las Palmas de Gran Canaria</div>
                <div class="text-two">Spain</div>
            </div>
        </div>
        
        
    </div>
</div>