<h1>{{'header.aboutMe' | transloco}}</h1>
<section class="portfolio">
  <div class="section about-me">
    <h3>{{'aboutMe.skills' | transloco}}</h3>
    <div class="slider">
      <div class="slide-track">
        <app-carousel-item class="slide" *ngFor="let skill of skills" [img]="skill.image" [title]="skill.title">
        </app-carousel-item>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h3>{{'aboutMe.languages' | transloco}}</h3>
      <div class="language-selector">
        <div class="language-item">
          <div class="language-circle">
            <img src="../../assets/spain.jpg" alt="Bandera 1">
            <div class="language-overlay">
              <span class="language-text">{{'aboutMe.native' | transloco}}</span>
            </div>
          </div>
          <div class="language-description">Español</div>
          <div class="language-description">{{'aboutMe.native' | transloco}}</div>
        </div>
        <div class="language-item">
          <div class="language-circle">
            <img src="../../assets/uk.jpg" alt="Bandera 2">
            <div class="language-overlay">
              <span class="language-text">C1</span>
            </div>
          </div>
          <div class="language-description">English</div>
          <div class="language-description">C1</div>
        </div>
        <div class="language-item">
          <div class="language-circle">
            <img src="../../assets/deutsch.jpg" alt="Bandera 3">
            <div class="language-overlay">
              <span class="language-text">C1</span>
            </div>
          </div>
          <div class="language-description">Deutsch</div>
          <div class="language-description">C1</div>
        </div>
      </div>
    </div>

    <div class="section about-me">
      <h3>{{'aboutMe.whoAmI' | transloco}}</h3>
      <p>
        {{'aboutMe.myDescription1' | transloco}}<br><br>
        {{'aboutMe.myDescription2' | transloco}}<br><br>
        {{'aboutMe.myDescription3' | transloco}}<br><br>
        {{'aboutMe.myDescription4' | transloco}}<br><br>
        {{'aboutMe.myDescription5' | transloco}}
      </p>
    </div>

  </div>
</section>