/* Estilos de títulos */
@import url(https://fonts.googleapis.com/css?family=Righteous);

h1 {
    color: #1abc9c;
    font-family: 'Righteous';
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
  }

  h2 {
    font-family: 'Righteous';
    font-size: 24px;
    color: #333;
  }

.project-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 2em;
    text-align: justify;
  }
  
  .project-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  
  .project-link {
    text-align: center;
  }
  
  .project-info {
    margin-left: 20px;
  }
  
  .project-info p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }

  .carousel-item img {
    width: 300px !important;
    height: 400px !important;
  }

  .java {
    width: 500px;
  }

  @media screen and (min-width: 485px) {
    .carousel-item img {
      width: 400px !important;
      height: 500px !important;
    }
    h1 {
      font-size: 4em;
    }

  }

  @media screen and (min-width: 1024px) {
    .carousel-item img {
      width: 500px !important;
      height: 600px !important;
    }

    .project-content{
      flex-direction: row;
    }

  }