<h1>My Projects</h1>

<section class="project-section">
  <div class="project-content">
    <a href="https://github.com/lauragonzs/Proyecto_Clinica_Estetica.git" class="project-link">
      <img src="../../assets/estetica.jpg" class="project-image" />
    </a>
    <div class="project-info">
      <h2>Proyecto xd</h2>
      <p class="project-description">Info descriptiva</p>
    </div>
  </div>
  
</section>

<section class="project-section">
    <div class="project-content">
      <a href="https://github.com/lauragonzs/Proyecto_Clinica_Estetica.git" class="project-link">
        <img src="../../assets/librarium.jpg" class="project-image" />
      </a>
      <div class="project-info">
        <h2>Proyecto xd</h2>
        <p class="project-description">Info descriptiva</p>
      </div>
    </div>
    
  </section>
  
