<h1>{{'header.myProjects' | transloco}}</h1>
<div class="projects">

  <section class="project-section">
    <div class="project-content">
      <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/estetica1.jpg" class="d-block w-100 img1" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/estetica2.jpg" class="d-block w-100 img1" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/estetica3.jpg" class="d-block w-100 img1" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/estetica4.jpg" class="d-block w-100 img1" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/estetica5.jpg" class="d-block w-100 img1" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="project-info">
        <a href="https://github.com/lauragonzs/Proyecto_Clinica_Estetica.git" class="project-link">
          <h2>{{'myProjects.medicalAestheticsTitle' | transloco}}</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(1)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription1">
          {{'myProjects.medicalAesthetics1' | transloco}}<br><br>
          {{'myProjects.medicalAesthetics2' | transloco}}<br><br>
          {{'myProjects.medicalAesthetics3' | transloco}}<br><br>
          {{'myProjects.medicalAesthetics4' | transloco}}<br><br>
          {{'myProjects.medicalAesthetics5' | transloco}}
        </p>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="project-content">
      <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/librarium1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/librarium7.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="project-info">
        <a href="https://github.com/lauragonzs/ServicioBibliotecaOnline.git" class="project-link">
          <h2>Librarium</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(2)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription2">
          {{'myProjects.librarium1' | transloco}}<br><br>
          {{'myProjects.librarium2' | transloco}}<br><br>
          {{'myProjects.librarium3' | transloco}}<br><br>
          {{'myProjects.librarium4' | transloco}}<br><br>
          {{'myProjects.librarium5' | transloco}}<br><br>
          {{'myProjects.librarium6' | transloco}}<br><br>
          {{'myProjects.librarium7' | transloco}}<br><br>
          {{'myProjects.librarium8' | transloco}}
        </p>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="project-content">
      <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/neuralNetwork.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/neuralNetwork2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="project-info">
        <a href="https://github.com/lauragonzs/NeuralNetwork-TomatoLeaves.git" class="project-link">
          <h2>{{'myProjects.neuralNetworkTitle' | transloco}}</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(3)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription3">
          {{'myProjects.neuralNetwork1' | transloco}}<br><br>
          {{'myProjects.neuralNetwork2' | transloco}}<br><br>
          T{{'myProjects.neuralNetwork3' | transloco}}<br><br>
          {{'myProjects.neuralNetwork4' | transloco}}<br><br>
          {{'myProjects.neuralNetwork5' | transloco}}<br><br>
          {{'myProjects.neuralNetwork6' | transloco}}
        </p>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="project-content">
      <video class="java" controls loop muted onloadedmetadata="this.muted = true">
        <source src="../../assets/ImageViewer.mp4" type="video/mp4">
      </video>
      <div class="project-info">
        <a href="https://github.com/lauragonzs/ImageViewer.git" class="project-link">
          <h2>Image Viewer</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(4)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription4">
          {{'myProjects.imageViewer1' | transloco}}<br><br>
          {{'myProjects.imageViewer2' | transloco}}<br><br>
          {{'myProjects.imageViewer3' | transloco}}<br><br>
          {{'myProjects.imageViewer4' | transloco}}
        </p>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="project-content">
      <img class="java" src="../../assets/BlackJackTDD.jpg" />
      <div class="project-info">
        <a href="https://github.com/lauragonzs/BlackJack-TDD" class="project-link">
          <h2>BlackJack TDD</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(5)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription5">
          {{'myProjects.blackjack1' | transloco}}<br><br>
          {{'myProjects.blackjack2' | transloco}}<br><br>
          {{'myProjects.blackjack3' | transloco}}
        </p>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="project-content">
      <video class="java" controls loop muted onloadedmetadata="this.muted = true">
        <source src="../../assets/MoneyCalculator.mp4" type="video/mp4">
      </video>
      <div class="project-info">
        <a href="https://github.com/lauragonzs/MoneyCalculator.git" class="project-link">
          <h2>Money Calculator</h2>
        </a>
        <button class="btnToggle" (click)="toggleDescription(6)">{{'myProjects.moreInfo' | transloco}}</button>
        <p class="project-description" [hidden]="!showDescription6">
          {{'myProjects.moneyCalculator1' | transloco}}<br><br>
          {{'myProjects.moneyCalculator2' | transloco}}<br><br>
          {{'myProjects.moneyCalculator3' | transloco}}<br><br>
          {{'myProjects.moneyCalculator4' | transloco}}<br><br>
          {{'myProjects.moneyCalculator5' | transloco}}<br><br>
          {{'myProjects.moneyCalculator6' | transloco}}
        </p>
      </div>
    </div>
  </section>

</div>